#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
  color:black
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #4898c9;
  /* border-bottom: 1px solid black; */
}
.nav-a {
  text-decoration: none;
  color: rgb(10, 10, 10);
  font-size: 18px;
  padding: 20px 60px 20px 60px;
}
.nav-a:hover {
  text-decoration: underline;
  color: black;
  font-size: 18px;
}
.primary-btn {
  background-color: #4898c9;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  line-height: 25px;
  padding: 10px;
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.707), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.primary-btn:hover {
  box-shadow: 0 30px 36px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.home-auth-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
